<!DOCTYPE html>
<html>
<head>
    <title>Promillerechner Feedback</title>
</head>
<body>
    <h1>Promillerechner Feedback</h1>
    <p>Ihr Blutalkoholgehalt ist: {{ results }}%</p>

    {% if bac <= 0 %}
        <p>Sie sind nüchtern.</p>
    {% else %}
        {% if bac < 0.2 %}
            <p>Es ist mit einem leichten Kater zu rechnen.</p>
        {% elif bac < 0.5 %}
            <p>Es ist mit einem mittelstarken Kater zu rechnen.</p>
        {% else %}
            <p>Es wird Ihnen Morgen furchtbar gehen.</p>
        {% endif %}
    {% endif %}

    <p>Es dauert ungefähr {{ sober_time }} Stunden, bis Sie wieder nüchtern sind.</p>
    <p>Einige Tipps um den Kater zu lindern:</p>
    <ul>
        <li>Wasser trinken</li>
        <li>Schlafen</li>
        <li>Rohes Ei konsumieren</li>
        <li>Sport betreiben</li>
        <li>Schmerzmittel konsumieren</li>
        <li>Kalt duschen</li>
        <li>Elektrolyte tanken (Gatorade etc.)</li>
        <li>Kokosnusswasser trinken</li>
        <li>Tee trinken</li>
        <li>Massage machen lassen</li>
        <li>Sich schwören nie mehr zu trinken</li>
        <li>Koffein vermeiden</li>
        <li>Nikotin vermeiden</li>
        <li>Fettiges Essen vermeiden</li>
        <li>In der Dunkelheit bleiben</li>
        <li>Laute Geräusche vermeiden</li>
        <li>Spazieren gehen</li>
    </ul>
</body>
</html>
