<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/stylefeedback.css">
    <title>Promillerechner Feedback</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Promillerechner Feedback</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title ">Ihre Daten:</h2>
                        <p class="card-text">Ihr Blutalkoholgehalt ist: {{ bac }}%</p>
                        {% if bac <= 0 %}
                            <p>Sie sind nüchtern.</p>
                        {% else %}
                            {% if bac < 0.2 %}
                                <p>Es ist mit einem leichten Kater zu rechnen.</p>
                            {% elif bac < 0.5 %}
                                <p>Es ist mit einem mittelstarken Kater zu rechnen.</p>
                            {% else %}
                                <p>Es wird Ihnen Morgen furchtbar gehen.</p>
                            {% endif %}
                        {% endif %}

                        {% if bac >= 0.5 %}
                            <p> In Ihrem Zustand ist es verboten Motorfahrzeuge und Fahrräder zu nutzen.</p>
                        {% elif bac > 0.2 %}
                            <p> Es ist nicht zu empfehlen in diesem Zustand ein Motorfahrzeug zu lenken.</p>
                            {% endif %}

                        <p>Es dauert ungefähr {{ sober_time }} Stunden, bis Sie komplett nüchtern sind.</p>

                        {% if bac <= 0 %}
                            <p>Geniessen Sie ihren Katerfreien Tag!</p>
                        {% else %}

                        <p>Einige Tipps um den Kater zu lindern:</p>
                        <ul>
                                <li>{{ cure[0] }}</li>
                                <li>{{ cure[1] }}</li>
                                <li>{{ cure[2] }}</li>
                        </ul>
                        {% endif %}
                        <form>
    <input type="button" value="Zurücksetzen" onclick="location.href='http://127.0.0.1:5000/rechner'" />
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
