<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Promillerechner</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Promillerechner</h1>
        <form>
            <div class="form-group">
                <label for="weight">Gewicht (in kg):</label>
                <input type="number" class="form-control" id="weight">
            </div>
            <div class="form-group">
                <label for="gender">Geschlecht:</label>
                <select class="form-control" id="gender">
                    <option>m</option>
                    <option>w</option>
                </select>
            </div>
            <div class="form-group">
                <label for="beer">Bier (in l):</label>
                <input type="number" class="form-control" id="beer">
            </div>
            <div class="form-group">
                <label for="wine">Wein (in l):</label>
                <input type="number" class="form-control" id="wine">
            </div>
            <div class="form-group">
                <label for="cocktail">Cocktails/Mischgetränke (in l):</label>
                <input type="number" class="form-control" id="cocktail">
            </div>
            <div class="form-group">
                <label for="schnaps">Schnaps (in l):</label>
                <input type="number" class="form-control" id="schnaps">
            </div>
            <div class="form-group">
                <label for="time">Zeit seit Start des Alkoholkonsums (in Minuten):</label>
                <input type="number" class="form-control" id="time">
            </div>
            <button type="submit" class="btn btn-primary">Berechnen</button>
        </form>
    </div>
</body>
</html>
