<form action="{{ url_for('berechnen') }}" method="post">
    <label for="weight">Bitte geben Sie ihr Gewicht in Kilogramm an:</label>
    <input type="text" id="weight" name="weight">

    <label for="gender">Bitte geben Sie ihr Geschlecht an (m/w):</label>
    <input type="text" id="gender" name="gender">

    <label for="beer">Wie viele Liter Bier haben Sie konsumiert? (1 Flaschenbier = ~0.33l ):</label>
    <input type="text" id="beer" name="beer">

    <label for="wine">Wie viele Liter Wein haben Sie konsumiert? (1 Glas Wein = ~0.185l):</label>
    <input type="text" id="wine" name="wine">

    <label for="cocktail">Wie viele Liter Cocktails oder Mischgetränke haben Sie konsumiert? (1 Cocktail = ~0.2l):</label>
    <input type="text" id="cocktail" name="cocktail">

    <label for="schnaps">Wie viele Liter harten Alkohol haben Sie konsumiert? (1 Shot = ~0.05l):</label>
    <input type="text" id="schnaps" name="schnaps">

    <label for="time_elapsed">Wie viel Zeit ist seit dem Start des Alkoholkonsums in Minuten vergangen?:</label>
    <input type="text" id="time_elapsed" name="time_elapsed">

    <input type="submit" value="berechnen">
</form>
